*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --orange: #ffa500;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
}


.logo-and-header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    background: white;
    padding: 10px;
}

.logo button{
  background: transparent;
  color: white;
  border: none;
  display: none;
}

.logo img{
    height: 50px;
    width: 170px;
    margin-left: 50px;
    border: 1px solid var(--black);
}

.navigation{
    text-decoration: none;
    object-position: center;
    padding: 10px;
    font-size: 17px;
}

/*header starts here*/

.header{
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    box-shadow: var(--box-shadow);
    background-color: var(--black);
}

.navigation--items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}

.navigation--items a{
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.navigation--items a:hover{
    color: var(--black);
    background-color: white;
}

.navigation--items #nav-close{
    display: none;
  }

.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 60%;
    border: none;
}

.logout:hover{
    box-shadow: var(--box-shadow);
    margin-top: -2px;
}

.logout i{
    align-items: center;
    justify-items: center;
    font-size: 17px;
}

.logout a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.dropdown{
    position: relative;
    display: inline-block;
    font-size: inherit;
    cursor: pointer;
    color: white;
  }

  .dropdown--content{
    display: none;
    position: absolute;
    background-color: #eee;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border: none;
    padding: 10px;
  }

  
  .dropdown:hover .dropdown--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
  }

  .dropdown--content a{
    font-size: 11px;
    text-decoration: none;
    color: var(--black);
  }

  .dropdown--content a:hover{
    background-color: var(--black);
    color: white;
  }


  .box{
    margin-top: 200px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  section{
    background-color: white;
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  .head .text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head .text h1{
    font-size: 40px;
  }

  section .head img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border: solid 2px var(--black);
    border-radius: 50%;
  }

  section .head h1{
    color: var(--black);
  }

  hr{
    width: 97%;
    height: 2px;
    background-color: var(--light-color);
    opacity: .5;
  }

  section form{
    margin-top: 30px;
    width: 95%;
    height: 100vh;
    font-size: 15px;
    opacity: .7;
  }

  .box section form label{
    position: relative;
    top: 10px;

  }

  select{
    margin-top: 20px;
    width: 90%;
    height: 60px;
    font-size: 15px;
    border-radius: 5px;
  }

  select:focus{
    border: blue 2px solid;
  }

  .type{
    width: 50%;
  }

  .network{
    width: 50%;
  }

  .sel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .put{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .amount{
    width: 50%;
  }

  .phone-number{
    width: 50%;
  }

  form input{
    width: 90%;
    height: 60px;
    position: relative;
    top: 20px;
  }



  .cancel-proceed{
    margin-top: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--black);
  }

  .cancel-proceed .cancel{
    color: white;
    font-size: 17px;
    border: none;
    width: 10%;
    height: 70%;
    margin-left: 30px;
    border-radius: 6px;
    background-color: red;
    cursor: pointer;
  }

  .cancel-proceed .proceed{
    color: white;
    font-size: 17px;
    border: none;
    width: 10%;
    height: 70%;
    margin-right: 30px;
    border-radius: 6px;
    background-color: var(--green);
    cursor: pointer;
  }

  .proceed button:hover{
    margin-top: -6px;
  }

  .rights{
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 17px;
    align-self: center;
    margin-left: 200px;
    opacity: .7;
  }

  .mobile-navbar{
    display: none;
  }

  #menu-btn{
    display: none;
  }


  @media (max-width:750px) {

    
    .logo{
        background-color: white;
        box-shadow: var(--box-shadow);
    }


    .logo-and-header .header{
      display: none;
    }

    .mobile-navbar{
      background-color: white;
      width: 70%;
      height: 100%;
      z-index: 1000;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px #eee;
      box-shadow: var(--box-shadow);
      position: fixed;
      top: 0;
      left: -100%;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: all .7s ease-in-out;
    }


    .mobile-navbar.mobile-navbar-open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        position: fixed;
        left: 0;
    }

    .mobile-navbar-items{
      height: 90%;
    }

    .mobile-navbar-header{
      background-color: var(--black);
      color: white;
    }

    .mobile-navbar-items h3{
      text-align: center;
    }


    .mobile-navbar a{
      font-weight: 600;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      padding: 10px 0 10px 20px;
      margin-top: 5px;
      border-radius: 5px;
      width: 99%;
      background-color: #eee;
      color: var(--light-color);
      text-align: left;
    }

    .mobile-navbar #close{
      align-self: flex-end;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .mobile-navbar #close:hover{
      transform: rotate(180deg);
    }

    .mobile-navbar a:hover{
      background-color: var(--black);
      color: white;
    }

    .mobile-navbar-items{
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .mobile-dropdown{
      cursor: pointer;
    }

    .mobile-dropdown-content{
      display: none;
      text-align: center;
      z-index: 100000;
    }

    .mobile-dropdown-content a{
      text-align: center;
      font-size: 12px;
    }

    .mobile-dropdown:hover .mobile-dropdown-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
    }

    .mobile-logout{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      position: relative;
      top: 220px;
      left: -100px;
      border: none;
      width: 25%;
      height: 100px;
      color: white;
      background-color: var(--black);
    }


    .logo-and-header .logo #menu-btn{
      display: block;
      cursor: pointer;
      color: var(--black);
      margin-left: 20px;
      padding: 10px 10px 10px 10px;
      border-radius: 50%;
      background-color: #eee;
    }

    .logo-and-header .logo #menu-btn:hover{
        color: white;
        background-color: var(--black);
        transform: rotate(180deg);
    }


    .logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
    }

    .logo img{
      width: 100px;
      height: 40px;
      position: relative;
      right: 50px;
    }

    .logo-and-header .header .navigation--items{
      display: flex;
      flex-direction: column;
    }

    .logo-and-header .header a:hover{
      color: white;
      border-color: rgb(47, 47, 119);
    }

    

    .logo-and-header .header .navigation--items .dropdown--conten{
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    .mobile-navbar{
      display: flex;
      flex-direction: column;
    }


    .box{
        margin-top: 100px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }

      form{
        margin-top: -50px;
      }

      .sel{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -30px;
      }

      .put{
        display: flex;
        flex-direction: column;
      }

      .network, .type, .amount, .phone-number{
        width: 100%;
      }

      select{
        width: 95%;
      }

      input{
        width: 95%;
        border-radius: 6px;
      }



      .cancel-proceed{
        margin-top: 50px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: var(--black);
      }
    
      .cancel-proceed .cancel{
        color: white;
        font-size: 17px;
        border: none;
        width: 30%;
        height: 70%;
        margin-left: 30px;
        border-radius: 6px;
        background-color: red;
        cursor: pointer;
      }
    
      .cancel-proceed .proceed{
        color: white;
        font-size: 17px;
        border: none;
        width: 30%;
        height: 70%;
        margin-right: 30px;
        border-radius: 6px;
        background-color: var(--green);
        cursor: pointer;
      }
    








  }